
div {
  width: auto;
  padding: 50px;
  font-family: 'Coming Soon';font-size: 18px;
}

ul,ol{
  display: table; 
  margin: 0 auto;
 
  
}

#Header{
  text-align: center;
  position: sticky;
  top: 0;
  
  
}

#ordList{
  
}



.list {

  box-shadow: 5px 5px rgb(107, 106, 106);
  border: solid black 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: block;
}

 

.ID{
  display: inline-block;
}
#img1{
  margin-left: 95px;
}